{%- assign imprint = site.pages | where: "path", site.imprint | first -%}
<footer class="footer">
  <ul class="social-media-list">
    {%- for social in site.social -%}
      <li class="social-media-list__item">
        <a class="link-external" href="{{social.link}}" target="_blank">
          {%- include {{social.icon}} -%}
          {{social.channel}}
        </a>
      </li>
    {%- endfor -%}
  </ul>
  <p>
    <a class="link" href="{{ imprint.url | relative_url }}">
      {{ imprint.title | escape }}
    </a>
  </p>
  <p class="footer__copyright text-muted">
    &copy; {{ site.time | date: '%Y' }} {{ site.location }}—{{ site.author }}
  </p>
</footer>
