{%- if site.posts.size > 0 -%}
<div class="posts">
	<hr>
	{%- for post in site.posts -%}
	<div class="post-preview">
		{%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
		<span class="post-preview__meta">{{ post.date | date: date_format }}</span>
		<h2 class="post-preview__title">
			<a href="{{ post.url | relative_url }}">
				{{ post.title | escape }}
			</a>
		</h2>
		{%- if site.show_excerpts -%}
		{{ post.excerpt }}
		{%- endif -%}
	</div>
	<hr>
	{%- endfor -%}
</div>
<br>
<p class="rss-subscribe">subscribe <a class="link" href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
{%- else -%}
	<p class="lead">No posts yet...</p>
{%- endif -%}
