// Colors
$color-primary: #0059ff;
$color-secondary: #ffd000;
$color-success: #21cf64;
$color-danger: #fc2c2c;

$grey-1: #222;
$grey-2: #777;
$grey-3: #999;
$grey-4: #e6e6ec;

@font-face {
    font-family: 'gilroy-light';
    src: url('gilroy-light-webfont.woff2') format('woff2'),
         url('gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy-extrabold';
    src: url('gilroy-extrabold-webfont.woff2') format('woff2'),
         url('gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.75;

	@media(min-width: 767px) {
		font-size: 18px;
	}

	@media(min-width: 1024px) {
		font-size: 21px;
	}
}

*,
*:before,
*:after {
	font-family: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	color: $grey-1; 
    font-family: 'gilroy-light';
}

h1 {
	font-size: 3rem;
	line-height: 1.1;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
	line-height: 1.5;
	padding-right: 4rem;
	color: $grey-1; 
    font-family: 'gilroy-extrabold';
	
	@media(min-width: 767px) {
		padding-right: 10rem;
	}
}

h2 {
	margin-bottom: 1.5rem;
	font-size: 1.75rem;
	line-height: 1.3;
	margin-top: 3rem;
	padding-right: 4rem;
	color: $grey-1; 
    font-family: 'gilroy-extrabold';
	
	@media(min-width: 767px) {
		padding-right: 10rem;
	}
}

h3 {
	margin-bottom: 1.5rem;
	line-height: 1.5;
	margin-top: 3rem;
	padding-right: 4rem;
	color: $grey-1; 
    font-family: 'gilroy-extrabold';
	
	@media(min-width: 767px) {
		padding-right: 10rem;
	}
}

h4 {
	margin-bottom: 1.5rem;
	line-height: 1.5;
	margin-top: 3rem;
	padding-right: 4rem;
	color: $grey-1; 
    font-family: 'gilroy-extrabold';
	
	@media(min-width: 767px) {
		padding-right: 10rem;
	}
}

h5 {
	margin-bottom: 1.5rem;
	line-height: 1.5;
	margin-top: 3rem;
	padding-right: 4rem;
	
	@media(min-width: 767px) {
		padding-right: 10rem;
	}
}

h6 {
	margin-bottom: 1.5rem;
	line-height: 1.5;
	margin-top: 3rem;
	padding-right: 4rem;
	
	@media(min-width: 767px) {
		padding-right: 10rem;
	}
}

a {
	display: inline-block;
	text-decoration: underline;
	transition: all .3s;
	position: relative;
	color: $grey-1; 

	&:hover {
		transition: all .3s;
		color: $grey-2;
	}
}

p {
	line-height: 1.75;
	margin-bottom: 1rem;
}

s { 
    color: lighten($grey-1, 30%) 
}

ul, 
ol {
	margin-left: 1rem;
	margin-bottom: 1rem;
	line-height: 1.5;
}

pre {
	font-size: 0.8rem;
	line-height: 2;
	font-family: "Courier", monospace;
	background-color: $grey-4;
	margin: 1rem 0;
	padding: 0.5rem 1rem;
	overflow: auto;
}

code {
    font-family: "Courier", monospace;
	font-size: 0.8rem;
	line-height: 2;
	background-color: $grey-4;
	padding: 0.05rem 0.25rem;

	pre & {
		background-color: unset;
	}
}

hr {
	border: 0;
	border-bottom: 1px dashed;
	border-color: $grey-4;
}

svg {
	display: flex;
	min-height: 1rem;
	min-width: 1rem;
}

// Modifier
.text-muted { 
    color: lighten($grey-1, 60%) 
}
.text-primary { 
    color: $color-primary !important 
}
.text-secondary { 
    color: $color-secondary !important 
}
.text-danger { 
    color: $color-danger !important 
}
.text-success { 
    color: $color-success !important 
}

// Lead
h1.lead {
	font-size: 3.5rem;
	margin-bottom: 3rem;
	line-height: 1.1;
}

p.lead {
	font-size: 1.25rem;
	line-height: 1.5;
}

.small {
    font-size: .725rem;
}

// Container
.container {
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;	
	padding: 0 1rem;
}

// Header
.header {
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 700;
	display: inline-flex;
	border: 0;
	padding: 0.5rem 2rem 0.5rem 1rem;
	border: 4px solid;
	transition: all .3s;
	font-family: 'gilroy-extrabold';
	color: #fff; 
    background: $color-primary;
    border-color: $color-primary;
    position: relative;

	&:hover {
		text-decoration: none;
		border: 4px solid;
		transition: all .3s;
		color: #fff; 
        background: $color-secondary; 
        border-color: $color-secondary;
	}
	
	&::before,
    &::after {
        content: "";
        height: .75rem;
        width: .75rem;
        position: absolute;
		right: -4px;
		background: #fff;
    }
    &::before {
        top: .5rem;
    }
    &::after {
        bottom: .5rem;
    }
}

.header__menu {
	margin-right: 2rem;
	margin-bottom: .5rem;
}

.header__menu__item {
    margin-left: 2rem;
}

// Footer
.footer {
    padding: 6rem 0 3rem 0;
    margin-top: 6rem;
    border-top: 1px dashed $grey-4;
}

.footer__copyright {
	padding-top: 3rem;
}

// Social Media List
.social-media-list {
	list-style: none;
	margin-left: 0;
	margin-bottom: 3rem;
	display: flex;
	flex-wrap: wrap;
}

.social-media-list__item {
    margin-bottom: 3rem;
    margin-right: 3rem;
    transition: all .3s;

    a { 
        text-decoration: none;
        display: flex;
        align-items: center;
        
    }

    svg {
        margin-right: .5rem;
        width: 2rem;

        path { 
            fill: $grey-3 !important 
        } 
    }

    &:hover { 
        transition: all .3s;
        
        a { 
            color: $color-secondary !important;

        }
        svg path { 
            fill: $color-secondary !important;
            transition: fill .3s;
        } 
        a.link-external { 
            color: $color-danger !important;
            
        }
        svg path { 
            fill: $color-danger !important;
            transition: fill .3s;
        } 
    }
}

// Posts
.post-preview {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
	
.post-preview__title {
    margin: 2rem 0;
    
    a {
        text-decoration: none;
    }
}

.post,
.page {
	display: flex;
    flex-direction: column;
    max-width: 41rem;
    margin: 0 auto;
}

.page__title,
.post__title {
	margin: 2rem 0;
}

// Layout
.view {
	min-height: 100vh;
	
	.container {
		min-height: 100vh;
		display: flex;
		flex-direction: column;

		.content {
			flex: 1 0 auto;
		}
	}
}

// Link
.link {
	text-decoration: none;

	&::before { 
        background: $color-primary 
    }

	&.link-external::before { 
        background: $color-danger 
    }

	&::after { 
        background: $grey-4 
    }
	
	&::after,
	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		transition: all .3s;
		position: absolute;
		left: 0;
		bottom: - .02rem;
	}

	&:hover::after {
		width: 0;
		left: 100%;
		transition: all .3s;
	}

	&.is-active {
		color: $color-primary;

		&::after {
			width: 0;
			left: 100%;
			transition: all .3s;
		}

		&::before {
			width: 100%;
			left: 0;
			transition: all .3s;
			background: $color-primary !important;
		}
	}
}